//====================================================================================================

.main-section {
	// .main-section__container

	&__container {
		display: grid;
		min-height: 100%;
		align-items: center;
		grid-template-columns: repeat(2, 1fr);
		margin-top: 13em;
	}

	// .main-section__content

	&__content {
	}

	// .main-section__title

	&__title {
		&:not(:last-child) {
			margin-bottom: rem(32);
		}
	}

	// .main-section__text

	&__text {
		&:not(:last-child) {
			margin-bottom: rem(40);
		}
	}
	&__social {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: rem(40);
	}

	// .main-section__image

	&__image {
		justify-self: end;
		position: relative;
		max-width: 336px;
		width: 100%;
	}
}

// .main-section__social

// .main-section__social

.social {
	// .social__link

	&__link {
		font-size: rem(22);
		@media (any-hover: hover) {
			&:hover {
				color: $purpleColor;
			}
		}
	}
}

//====================================================================================================

.servises-section {
	margin-top: 13em;
	margin-bottom: 10em;
}
.servises {
	// .servises__container

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	// .servises__title

	&__title {
		font-family: Plus Jakarta Sans;
		font-size: 16px;
		font-weight: 500;
		line-height: 20px;
		letter-spacing: 0em;
		text-align: left;

		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}

	// .servises__card

	&__card {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(rem(361), 1fr));
	}

	// .servises__item

	&__item {
		width: rem (56px);
		height: rem (56px);
		top: 53px;
		left: 152.5px;
		padding: 16px;
		border-radius: 16px;
		gap: 10px;
		background-color: #f5f3fe;
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}

	// .servises__text

	&__text {
		padding-top: 1em;
		width: 70%;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0px;
		text-align: center;
	}
}

.card-servises {
	justify-items: center;
	display: grid;
	border-radius: rem(8);
	@include adaptiveValue('padding', 50, 15);
	text-align: center;
}

.works {
	// .works__container

	&__container {
	}
}

.work {
	// .work__main

	&__main {
		margin-top: 7em;
		margin-bottom: 10em;
		display: flex;
		gap: rem(56);
	}

	// .work__card

	&__card {
		border: rem(1) solid #f1f1f1;
		border-radius: rem(8);
	}

	// .work__photo

	// .work__title

	&__title {
		font-family: Plus Jakarta Sans;
		font-size: 18px;
		font-weight: 500;
		line-height: 20px;
		letter-spacing: 0em;
		text-align: left;
		margin-top: 24px;
		margin-left: 24px;
	}
	&__item {
		display: inline-flex;
		margin-left: 16px;
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				background-color: $purpleColor;
				border: rem(1) solid $purpleColor;
			}
		}
	}
	&__button {
		border: rem(1) solid #f1f1f1;
		border-radius: rem(8);
		padding: rem(8) rem(4) rem(8) rem(4);

		font-size: 12px;
		font-weight: 500;
		line-height: 15px;

		text-align: left;

		margin-left: 24px;
		margin-top: 24px;
		margin-bottom: 24px;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				background-color: $purpleColor;
				border: rem(1) solid $purpleColor;
			}
		}
	}
}

.page {
	// .page__career

	&__career {
	}
}
.career {
	// .career__container

	&__container {
		padding-top: rem(30);
		padding-bottom: rem(80);
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto auto;
		grid-auto-flow: column;
		align-content: center;
		@include adaptiveValue('column-gap', 144, 20);
	}
}

.tabs {
	// .tabs__navigation

	&__navigation {
		display: grid;
		gap: rem(9);
	}
}
.navigation-career {
	&__content {
	}

	// .navigation-career__title

	&__title {
		text-align: left;
		padding: rem(14) rem(16);
		line-height: math.div(19, 16);
		align-items: center;

		&._tab-active {
			background-color: #fff;
			color: $purpleColor;
			justify-content: space-between;
			display: flex;
			&::after {
				@extend %ic;
				content: '\e900';
			}
		}
	}

	// .navigation-career__body
}
.content-career {
	&__body {
	}
	// .content-career__header

	&__header {
		@include adaptiveValue('padding-bottom', 32, 20);
		border-bottom: 1px solid #f1f1f1;
	}

	// .content-career__title

	&__title {
		font-family: Plus Jakarta Sans;
		font-size: rem(18);

		font-weight: 500;
		line-height: math.div(23, 18);
		&:not(:last-child) {
			margin-bottom: rem(8);
		}
	}

	// .content-career__link

	&__link {
		text-decoration: underline;
		color: $purpleColor;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				background-color: $purpleColor;
				border: rem(1) solid $purpleColor;
			}
		}
	}

	// .content-career__location

	&__location {
		color: gray;
		font-size: rem(14);
		line-height: math.div(17, 14);
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}

	// .content-career__time

	&__time {
		color: gray;
		font-size: rem(14);
		line-height: math.div(17, 14);
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}

	// .content-career__categories

	&__categories {
	}

	// .content-career__main

	&__main {
		@include adaptiveValue('padding-top', 32, 20);
	}

	// .content-career__list

	&__list {
	}
}

.list-content-career {
	// .list-content-career__item

	&__item {
		color: gray;
		line-height: math.div(19, 16);
		position: relative;
		padding-left: rem(28);
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
		&::before {
			content: '';
			background-color: #d9d9d9;
			width: 10px;
			height: 2px;
			position: absolute;
			left: 0;
			top: em(10, 16);
		}
	}
}
.content-career {
	// .content-career__categories

	&__categories {
	}
}
.category {
	// .category__link

	&__link {
		border: rem(1) solid #f1f1f1;
		border-radius: rem(8);
		padding: rem(8) rem(4) rem(8) rem(4);

		font-size: 12px;
		font-weight: 500;
		line-height: 15px;

		text-align: left;

		margin-top: 24px;
		margin-bottom: 24px;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				background-color: $purpleColor;
				border: rem(1) solid $purpleColor;
			}
		}
	}
}
.page {
	// .page__blog

	&__blog {
		margin-top: 7em;
		margin-bottom: 10em;
	}
}
.blog {
	// .blog__container

	&__container {
		padding-top: rem(30);
		padding-bottom: rem(80);
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto auto;
		grid-auto-flow: column;
		align-content: center;
		@include adaptiveValue('column-gap', 144, 20);
	}

	// .blog__title

	&__title {
		padding-bottom: 7em;
		font-family: Plus Jakarta Sans;
		font-size: 16px;
		font-weight: 500;
		line-height: 20px;
		letter-spacing: 0em;
		text-align: left;
		padding-left: 40%;
	}

	// .blog__work

	&__work {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(rem(361), 1fr));
	}

	// .blog__data

	&__data {
		font-size: 12px;
		font-weight: 500;
		line-height: 15px;
		letter-spacing: 0em;

		padding: 20px 10px 10px 30px;
	}

	// .blog__descr

	&__descr {
		font-size: 16px;
		font-weight: 400;
		line-height: 32px;
		letter-spacing: 0px;
		text-align: left;
		padding: 10px 10px 50px 20px;
	}

	// .blog__continue

	&__continue {
		padding: 120px;

		font-size: 14px;
		font-weight: 500;
		line-height: 17px;
		letter-spacing: 0px;
		text-align: left;
	}
}
.page {
	// .page__clients

	&__clients {
	}
}
.clients-section {
}
.clients {
	// .clients__container

	&__container {
		padding-top: rem(30);
		padding-bottom: rem(80);
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto auto;
		grid-auto-flow: column;
		align-content: center;
		@include adaptiveValue('column-gap', 144, 20);
	}

	// .clients__title

	&__title {
		padding-bottom: 7em;
	}

	// .clients__card

	&__card {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(rem(361), 1fr));
		padding-left: 105px;
	}

	// .clients__photo

	&__photo {
		padding-bottom: rem(32);
		padding-left: 60px;
	}

	// .clients__text

	&__text {
		font-size: 16px;
		font-weight: 400;
		line-height: 28px;
		letter-spacing: 0px;
		text-align: left;
	}

	// .clients__name

	&__name {
		font-family: Plus Jakarta Sans;
		font-size: 14px;
		font-weight: 500;
		line-height: 18px;
		letter-spacing: 0px;
		text-align: left;
		padding-top: 50px;
	}

	// .clients__type

	&__type {
		font-size: 12px;
		font-weight: 500;
		line-height: 15px;
		letter-spacing: 0em;
		text-align: left;
		padding-top: 15px;
	}
}
.title {
	// .title__lable

	&__lable {
	}

	// .title__value

	&__value {
	}
}
.photo {
	// .photo__card

	&__card {
	}
}
.card-photo {
}
